# =====================
# ENV & SECRETS
# =====================
.env

# =====================
# PYTHON
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3

# =====================
# DJANGO
# =====================
local_settings.py

# =====================
# NODE / FRONTEND
# =====================
node_modules/
dist/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
