.navbar {
  height: 70px;
  background: linear-gradient(90deg,#5b1d16,#a34733);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.admin-label {
  background: white;
  color: #5b1d16;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.logout-btn {
  background: #d63c2f;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}