* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont;
  background-color: #f9f9f9;
  color: #111;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
